# Functions Assignment

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [1]:
import math

In [4]:
def vol(rad):
    return 4/3*math.pi*rad**4

In [7]:
# Check
vol(2)

67.02064327658225

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [12]:
def up_low(s):
    upper = 0
    lower = 0
  
    for i in range(len(s)):
          
        if (ord(s[i]) >= 97 and
            ord(s[i]) <= 122):
            lower += 1

        elif (ord(s[i]) >= 65 and
              ord(s[i]) <= 90):
            upper += 1
  
    print('Lower case characters = %s' %lower,
          'Upper case characters = %s' %upper)

In [13]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Lower case characters = 33 Upper case characters = 4

____
**multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [70]:
def multi (x) :
    mul = 1
    for i in x :
        mul *= i
    print ("Answer after multiply:- ", mul)

In [71]:
multi([1, 2, 3, -4])

Answer after multiply:-  -24

____
**get the even numbers from a list. (use built in function)**

    Sample List : [1, 2, 3, 4,7,8]
    Expected Output : [2,4,8]

In [72]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4,7,8]))

[2, 4, 8]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [62]:
def lesser_of_two_evens(a, b):
    if (a % 2 == 0 and b % 2 == 0):
        if (a > b):
            return b
        else:
            return a
    else:
        if (a > b):
            return a
        else:
            return b

In [63]:
# Check
lesser_of_two_evens(2,4)

2

In [64]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [46]:
def animal_crackers(text):
    first, second = text.split(" ")
    if first[0] == second[0]:
        return True
    else:
        return False

In [47]:
# Check
animal_crackers('Levelheaded Llama')

True

In [48]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [41]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [42]:
# Check
makes_twenty(20,10)

True

In [43]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [39]:
def old_macdonald(name):
    mylist = list(name)
    mylist[0] = mylist[0].upper()
    mylist[3] = mylist[3].upper()
    return ''.join(mylist)

In [40]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [36]:
def master_yoda(text):
    x=text.split()

    x.reverse()

    return " ".join(x)

In [37]:
# Check
master_yoda('I am home')

'home am I'

In [38]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [32]:
def has_33(nums):
    for num in nums:
        if nums[0] == nums[1] == 3 or nums[1] == nums[2] == 3:
            return True
        else:
            return False

In [33]:
# Check
has_33([1, 3, 3])

True

In [34]:
# Check
has_33([1, 3, 1, 3])

False

In [35]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [25]:
def paper_doll(text):
    for letter in text:
        print(letter * 3, end="")

In [26]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [27]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [18]:
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False

In [19]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [20]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [21]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [14]:
def count_primes(num):
    i = 0
    
    for item in range(num+1):
        if item <=1:
            continue
        if item == 2:
            i=1
            continue
        for n in range(2,item):
            if item % n == 0:
                break
        else:
            i +=1
            
    return i

In [15]:
# Check
count_primes(100)

25

## Great Job!